<% if commits.blank? %>
  <div class="label-success dashboard-message"><%= pluralize(0, 'commit') %></div>
<% else %>
  <div class="commits-count label-warning">
    <%= pluralize(commits.size, 'commit') %>
  </div>
  <ul class="thumbnails">
    <%= render(:partial => "commit", :collection => commits) %>
  </ul>
<% end %>
