<% if commits.empty? %>
  <div class="zero-commits">Real Artists Ship!</div>
<% else %>
  <ul class="thumbnails">
    <li>
      <div class="badge badge-warning">
        <h1 style="padding: 48px"><%= commits.size %></h2>
      </div>
    </li>
    <%= render(:partial => "commit", :collection => commits) %>
  </ul>
<% end %>
