<% if commits.blank? %>
  <div class="green dashboard-message">Real Artists Ship!</div>
<% else %>
  <ul class="thumbnails">
    <li>
      <div class="commits-size"><%= commits.size %></div>
    </li>
    <%= render(:partial => "commit", :collection => commits) %>
  </ul>
<% end %>
