<div class="item<%= ' active' if continuous_deployment_counter == 0 %>">
  <div class="carousel-caption-top carousel-caption">
    <center>
      <h1><%= continuous_deployment.name %> <small><%= continuous_deployment.deployed_revision %></small></h1>
    </center>
  </div>
  <div class="row-fluid continuous-deployment">
    <% if continuous_deployment.git_repo_cloned? %>
      <%= render(:partial => 'commits', :locals => { commits: continuous_deployment.waiting_deployment_commits })%>
    <% else %>
      <div class="repository-is-not-cloned">
        Git Repository is not cloned yet
      </div>
    <% end %>
  </div>
</div>
