<% if stories.nil? %>
  <div class="label-important dashboard-message">No stories found</div>
<% elsif stories.empty? %>
  <div class="label-success dashboard-message"><%= pluralize(0, 'story') %></div>
<% else %>
  <div class="commits-count story-label-warning">
    <%= pluralize(stories.size, 'story') %>
  </div>

  <% stories.each_pair do |story_number, commits| %>
    <div class="row-fluid">
      <div class="story-number">
        <%= story_number %>
      </div>
      <ul class="unstyled the-commits">
        <%= render(:partial => "commit", :collection => commits) %>
      </ul>
    </div>
    <br/>
  <% end %>
<% end %>
