<% if stories.nil? %>
  <div class="label-important dashboard-message">No stories found</div>
<% elsif stories.empty? %>
  <div class="label-success dashboard-message"><%= pluralize(0, 'story') %></div>
<% else %>
  <div class="commits-count story-label-warning">
    <%= pluralize(stories.size, 'story') %>
  </div>

  <% stories.each_pair do |story_number, commits| %>
    <div class="row-fluid">
      <div class="story-number">
        <span><%= story_number %></span>
        <div class="unstyled the-commits">
          <%= render(:partial => "commit", :collection => commits) %>
        </div>
    </div>
    </div>
    <br/>
  <% end %>
  
<% end %>
