<% if stories.nil? %>
  <div class="label-important dashboard-message">No stories found</div>
<% elsif stories.empty? %>
  <div class="label-success dashboard-message"><%= pluralize(0, 'story') %></div>
<% else %>
  <div class="commits-count story-label-warning">
    <%= pluralize(stories.size, 'story') %>
  </div>

  <div>
    <% stories.keys.each do |story_number| %>
      <span class="story-number">
        <%= story_number %>
      </span>
    <% end %>
  </div>

  <div class="authors">
    <% authors.values.each do |author| %>
      <span class="author">
        <%= gravatar(author, 128) %>
      </span>
    <% end %>
  </div>
<% end %>