<div id="commitLogs" class="carousel slide">
  <ol class="carousel-indicators">
    <%= render :partial => "commit_log_indicator", :collection => CommitLog.all %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <%= render :partial => "commit_log", :collection => CommitLog.all %>
  </div>
</div>
