
<h3>Start continuous deployment improvement</h3>

<ol>
  <li><%= link_to 'Add new Continuous Deployment Metrics', new_continuous_deployment_path, class: 'link' %></li>
  <li>Monitor Continuous Deployment by <%= link_to 'Dashboard', '/dashboard', class: 'link' %></li>
</ol>

