
<h3>Start continuous improvement</h3>

<ol>
  <li><%= link_to 'Add new LessMetrics', new_commit_log_path, class: 'link' %></li>
  <li>Monitor LessMetrics by <%= link_to 'Dashboard', '/dashboard', class: 'link' %></li>
</ol>

