/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.padding-top {
   padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}


#dashboard .carousel-caption-top {
  color: white;
  position: static;
  bottom: auto;
}

.carousel-indicators li {
  cursor: pointer;
}

a.link {
  text-decoration: underline;
}

.continuous-deployment {
}

.dashboard-message {
  color: white;
  width: 100%;
  text-align: center;
  padding: 256px 0 256px 0;
  font-size: 64px;
}

.gray {
  background-color: gray;
}

.commits-count {
  color: white;
  padding: 30px 50px;
  margin-bottom: 20px;
  font-size: 64px;
  text-align: center;
}

.commit {
  position: relative;
}

.commit-message {
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  font-size: 10px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);

  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  line-height: 14px;
}

.head-message {
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 0px;
  color: white;
  font-size: 10px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
