/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.padding-top {
   padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}


#dashboard .carousel-caption-top {
  color: white;
  position: static;
  bottom: auto;
}

.carousel-indicators li {
  cursor: pointer;
}

a.link {
  text-decoration: underline;
}

.continuous-deployment {
}

.dashboard-message {
  color: white;
  width: 100%;
  text-align: center;
  padding: 256px 0 256px 0;
  font-size: 64px;
}

.gray {
  background-color: gray;
}

.the-commits {
  height: 200px;
  overflow: auto;
  position: relative;
}
.the-commits li {
  position: absolute;
}
.story-number span {
  color: black;
  background-color: green;
  width: 100%;
  padding: 5px;
  margin: 0px 0px 0px 20px;
  text-align: left;
  font-size: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
}

.commits-count {
  color: white;
  padding: 30px 50px;
  margin-bottom: 20px;
  font-size: 64px;
  text-align: center;
}

.commit {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.commit-message {
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  font-size: 10px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);

  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  line-height: 14px;

  word-wrap: break-word;
}

.full-cm {
  word-wrap: break-word;
}

.head-message {
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 0px;
  color: white;
  font-size: 10px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}

.default-avatar {
  color: black;
  background: lightgray;
  height: 108px;
  width: 108px;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  word-wrap: break-word;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.story-label-warning,
.story-badge-warning {
  background-color: #56401c;
}

.story_card {
  height: 108px;
  width: 108px;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  word-wrap: break-word;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

